# Introducción a Pandas

**Autor:** Roberto Muñoz <br />
**E-mail:** <rmunoz@metricarts.com> <br />
**Github:** <https://github.com/rpmunoz> <br />

[Pandas](http://pandas.pydata.org/) es un paquete de Python que proporciona estructuras de datos similares a los dataframes de R. Pandas depende de Numpy, la librería que añade un potente tipo matricial a Python. Los principales tipos de datos que pueden representarse con pandas son:

- Datos tabulares con columnas de tipo heterogéneo con etiquetas en columnas y filas.
- Series temporales.

Pandas proporciona herramientas que permiten:

- leer y escribir datos en diferentes formatos: CSV, Microsoft Excel, bases SQL y formato HDF5
- seleccionar y filtrar de manera sencilla tablas de datos en función de posición, valor o etiquetas
- fusionar y unir datos
- transformar datos aplicando funciones tanto en global como por ventanas
- manipulación de series temporales
- hacer gráficas

En pandas existen tres tipos básicos de objetos todos ellos basados a su vez en Numpy:

- Series (listas, 1D),
- DataFrame (tablas, 2D) y
- Panels (tablas 3D).

In [1]:
import numpy as np
import pandas as pd
#pd.__version__

## 1.  Series

Una serie (o *Series*) Pandas es un arreglo unidimensional de datos indexados. Puede ser creado desde una lista o arreglo como sigue:

In [3]:
data = pd.Series([0.25, 0.5, 0.75, 1.0])
data

0    0.25
1    0.50
2    0.75
3    1.00
dtype: float64

Como vemos en la salida, la Serie contiene una secuencia de valores y una secuencia de índices, las cuales podemos acceder con los atributos `values` y `index`. Los valores son simplemente un familiar arreglo NumPy:

In [4]:
data.values

array([0.25, 0.5 , 0.75, 1.  ])

El índice es un objeto tipo arreglo, con su nombre de tipo igual a `pd.Index`, el que discutiremos en más detalle.

In [5]:
data.index

RangeIndex(start=0, stop=4, step=1)

In [ ]:
#help(pd.RangeIndex)

Al igual que con un arreglo NumPy, los datos pueden ser accedidos por el índice asociado, a través de la notación de brackets o paréntesis cuadrados:

In [6]:
pd.RangeIndex(0,10,2)

RangeIndex(start=0, stop=10, step=2)

In [7]:
list(pd.RangeIndex(0,10,2))

[0, 2, 4, 6, 8]

In [8]:
data

0    0.25
1    0.50
2    0.75
3    1.00
dtype: float64

In [12]:
data[3]

1.0

In [10]:
data[[0,2]]

0    0.25
2    0.75
dtype: float64

### Series como un arreglo NumPy generalizado

De lo que hemos visto hasta ahora, puede parecer que el objeto `Series` es básicamente intercambiable con un arreglo unidimensional NumPy. **La diferencia esencial es la presencia del índice**: mientras que el arreglo NumPy tiene un índice entero implícitamente definido, usado para acceder a los valores, la serie Pandas tiene un índice explícitamente definido con los valores.

In [15]:
data = pd.Series([0.25, 0.5, 0.75, 1.0],
                 index=['2018-02-01', '2018-02-02', 'c', 'd'])
data

2018-02-01    0.25
2018-02-02    0.50
c             0.75
d             1.00
dtype: float64

Y el acceso a los ítemes funciona como es esperado:

In [18]:
data['2018-02-01':'d']

2018-02-01    0.25
2018-02-02    0.50
c             0.75
d             1.00
dtype: float64

In [3]:
import datetime

date1 = '2011-05-03'
date2 = '2011-05-10'
start = datetime.datetime.strptime(date1, '%Y-%m-%d')
end = datetime.datetime.strptime(date2, '%Y-%m-%d')
step = datetime.timedelta(days=1)

while start <= end:
    print(start.date())
    start += step
    print(type(start))

2011-05-03
<class 'datetime.datetime'>
2011-05-04
<class 'datetime.datetime'>
2011-05-05
<class 'datetime.datetime'>
2011-05-06
<class 'datetime.datetime'>
2011-05-07
<class 'datetime.datetime'>
2011-05-08
<class 'datetime.datetime'>
2011-05-09
<class 'datetime.datetime'>
2011-05-10
<class 'datetime.datetime'>

### Series como diccionario especializado

In this way, you can think of a Pandas Series a bit like a specialization of a Python dictionary. A dictionary is a structure that maps arbitrary keys to a set of arbitrary values, and a Series is a structure which maps typed keys to a set of typed values. This typing is important: just as the type-specific compiled code behind a NumPy array makes it more efficient than a Python list for certain operations, the type information of a Pandas Series makes it much more efficient than Python dictionaries for certain operations.

De esta manera, se puede pensar en una `Series`Pandas un poco como una especialización de un diccionario Python. Un diccionario es una estructira que mapea llaves arbitrarias a un conjunto de valores arbitrarios, y una serie es una estructura que mapea llaves tipadas a un conjunto de valores tipados. Este tipado (la exigencia de un tipo definido de dato) es importante: así como el código específico de tipos compilado detrás de un arreglo Numpy lo hace más eficiente que una lista Python para ciertas operaciones, la información de tipo de datos de una serie Pandas la hace mucho más eficiente que los diccionarios Python para ciertas operaciones.

In [6]:
population_dict = {'Arica y Parinacota': 243149,
                   'Antofagasta': 631875,
                   'Metropolitana de Santiago': 7399042,
                   'Valparaiso': 1842880,
                   'Bíobío': 2127902,
                   'Magallanes y Antártica Chilena': 165547}

population = pd.Series(population_dict)
population

Arica y Parinacota                 243149
Antofagasta                        631875
Metropolitana de Santiago         7399042
Valparaiso                        1842880
Bíobío                            2127902
Magallanes y Antártica Chilena     165547
dtype: int64

You can notice the indexes were sorted lexicographically. That's the default behaviour in Pandas

In [9]:
population['Arica y Parinacota']

243149

Unlike a dictionary, though, the Series also supports array-style operations such as slicing:

In [ ]:
population['Arica y Parinacota':'Metropolitana de Santiago']

## 2. DataFrame

La siguiente estructura fundamental en Pandas es el **`DataFrame`**. Como el objeto `Series` discutido en la sección anterior, el `DataFrame` puede pensarse ya sea como una generalización del arreglo NumPy, o como una especialización de un diccionario Python. Lo miraremos desde ambas perspectivas.

### DataFrame como un arreglo NumPy generalizado

Si una `Series` es el análogo de un arreglo unidimensional con índices flexibles, un `DataFrame` es el análogo de un arreglo bidimensional con índices de fila flexible y nombres de columna flexibles.

In [16]:
# Area in km^2
area_dict = {'Arica y Parinacota': 16873.3,
             'Antofagasta': 126049.1,
             'Metropolitana de Santiago': 15403.2,
             'Valparaiso': 16396.1,
             'Bíobío': 37068.7,
             'Magallanes y Antártica Chilena': 1382291.1}
area = pd.Series(area_dict)
area

Arica y Parinacota                  16873.3
Antofagasta                        126049.1
Metropolitana de Santiago           15403.2
Valparaiso                          16396.1
Bíobío                              37068.7
Magallanes y Antártica Chilena    1382291.1
dtype: float64

Ahora que tenemos esto junto con la serie de población de antes, podemos utilizar un diccionario para construir un único objeto bidimensional que contenga esta información:

In [11]:
pd.DataFrame(pd.Series(population_dict))

                                      0
Arica y Parinacota               243149
Antofagasta                      631875
Metropolitana de Santiago       7399042
Valparaiso                      1842880
Bíobío                          2127902
Magallanes y Antártica Chilena   165547

In [19]:
regions = pd.DataFrame({'population': population,
                       'area': area})
regions

                                population       area
Arica y Parinacota                  243149    16873.3
Antofagasta                         631875   126049.1
Metropolitana de Santiago          7399042    15403.2
Valparaiso                         1842880    16396.1
Bíobío                             2127902    37068.7
Magallanes y Antártica Chilena      165547  1382291.1

In [20]:
regions['densidad'] = regions['population']/regions['area']

In [21]:
regions

                                population       area    densidad
Arica y Parinacota                  243149    16873.3   14.410281
Antofagasta                         631875   126049.1    5.012928
Metropolitana de Santiago          7399042    15403.2  480.357458
Valparaiso                         1842880    16396.1  112.397460
Bíobío                             2127902    37068.7   57.404279
Magallanes y Antártica Chilena      165547  1382291.1    0.119763

In [25]:
nuevo = regions[ ['population','area'] ]
nuevo

                                population       area
Arica y Parinacota                  243149    16873.3
Antofagasta                         631875   126049.1
Metropolitana de Santiago          7399042    15403.2
Valparaiso                         1842880    16396.1
Bíobío                             2127902    37068.7
Magallanes y Antártica Chilena      165547  1382291.1

In [22]:
regions['densidad']['Antofagasta']

5.0129275020607045

In [33]:
regions['densidad']
#print(type(regions['densidad']))

Arica y Parinacota                 14.410281
Antofagasta                         5.012928
Metropolitana de Santiago         480.357458
Valparaiso                        112.397460
Bíobío                             57.404279
Magallanes y Antártica Chilena      0.119763
Name: densidad, dtype: float64

In [44]:
tabla = pd.DataFrame(regions['densidad'])
tabla
#tabla.index

                                  densidad
Arica y Parinacota               14.410281
Antofagasta                       5.012928
Metropolitana de Santiago       480.357458
Valparaiso                      112.397460
Bíobío                           57.404279
Magallanes y Antártica Chilena    0.119763

In [40]:
tabla['densidad']['Antofagasta']

5.0129275020607045

In [47]:
tabla.iloc(0)

In [ ]:
regions.index

In [ ]:
regions.columns

### DataFrame como diccionario especializado

Similarmente, podemos pensar el `DataFrame` como la especialización de un diccionario. Donde un diccionario mapea una llave a un valor, un `DataFrame` mapea un nombre de columna a una serie de datos de columna. Por ejemplo, preguntar por el atributo 'área' retorna el objeto Serie conteniendo las áreas que vimos antes:

In [ ]:
regions['area']

In [ ]:
regions['population']

### Construyendo objetos DataFrame
Un `DataFrame` Pandas puede ser construido de una variedad de formas. Veremos algunos ejemplos.

### Desde un único objeto `Series`
Un `DataFrame` es una colección de objetos `Series`, y un `DataFrame` de una sóla columna puede ser construido de una serie individual:

In [ ]:
pd.DataFrame(population, columns=['poblacion'])
pd.DataFrame(area, columns=['superficie'])

### Desde un diccionario de objetos `Series`
Como vimos antes, un `DataFrame` puede ser construido a partir de un diccionario de objetos `Series` también:

In [ ]:
pd.DataFrame({'poblacion': population,
              'area': area}, columns=['poblacion', 'area'])

## 3. Leyendo un archivo CSV y haciendo operaciones comunes Pandas

In [ ]:
!cat data/chile_regiones.csv

In [2]:
regiones_file='data/chile_regiones.csv'
provincias_file='data/chile_provincias.csv'
comunas_file='data/chile_comunas.csv'

regiones=pd.read_csv(regiones_file, header=0, sep=',')
provincias=pd.read_csv(provincias_file, header=0, sep=',')
comunas=pd.read_csv(comunas_file, header=0, sep=',')

In [3]:
regiones

    RegionID                                 RegionNombre RegionOrdinal
0          1                         'Arica y Parinacota'          'XV'
1          2                                   'Tarapacá'           'I'
2          3                                'Antofagasta'          'II'
3          4                                    'Atacama'         'III'
4          5                                   'Coquimbo'          'IV'
5          6                                 'Valparaiso'           'V'
6          7                  'Metropolitana de Santiago'          'RM'
7          8     'Libertador General Bernardo O\'Higgins'          'VI'
8          9                                      'Maule'         'VII'
9         10                                     'Biobío'        'VIII'
10        11                               'La Araucanía'          'IX'
11        12                                   'Los Ríos'         'XIV'
12        13                                  'Los Lagos'           'X'
13        14  'Aisén del General Carlos Ibáñez del Campo'          'XI'
14        15       'Magallanes y de la Antártica Chilena'         'XII'

In [ ]:
regions.columns.values.tolist()

In [ ]:
print('regiones table: ', regiones.columns.values.tolist())
#print('provincias table: ', provincias.columns.values.tolist())
#print('comunas table: ', comunas.columns.values.tolist())

In [7]:
regiones.head()

   RegionID          RegionNombre RegionOrdinal
0         1  'Arica y Parinacota'          'XV'
1         2            'Tarapacá'           'I'
2         3         'Antofagasta'          'II'
3         4             'Atacama'         'III'
4         5            'Coquimbo'          'IV'

In [5]:
provincias.head()

   ProvinciaID ProvinciaNombre  RegionID
0            1         'Arica'         1
1            2    'Parinacota'         1
2            3       'Iquique'         2
3            4  'El Tamarugal'         2
4            5   'Antofagasta'         3

In [8]:
comunas.head(10)

   ComunaID     ComunaNombre  ProvinciaID
0         1          'Arica'            1
1         2      'Camarones'            1
2         3  'General Lagos'            2
3         4          'Putre'            2
4         5  'Alto Hospicio'            3
5         6        'Iquique'            3
6         7         'Camiña'            4
7         8       'Colchane'            4
8         9          'Huara'            4
9        10           'Pica'            4

In [14]:
comunas.sort_values('ComunaNombre', ascending=False).head()

     ComunaID ComunaNombre  ProvinciaID
114       115      'Ñuñoa'           25
237       238     'Ñiquen'           37
52         53   'Zapallar'           16
249       250     'Yungay'           37
216       217     'Yumbel'           35

In [ ]:
comunas.describe()

In [ ]:
regiones.head()

In [ ]:
provincias.head()

In [ ]:
#help(pd.merge)

In [12]:
regiones_provincias = pd.merge(regiones, provincias, how='outer', on='RegionID')
regiones_provincias.head(30)

,RegionID,RegionNombre,RegionOrdinal,ProvinciaID,ProvinciaNombre
0,1,'Arica y Parinacota','XV',1,'Arica'
1,1,'Arica y Parinacota','XV',2,'Parinacota'
2,2,'Tarapacá','I',3,'Iquique'
3,2,'Tarapacá','I',4,'El Tamarugal'
4,3,'Antofagasta','II',5,'Antofagasta'
5,3,'Antofagasta','II',6,'El Loa'
6,3,'Antofagasta','II',7,'Tocopilla'
7,4,'Atacama','III',8,'Chañaral'
8,4,'Atacama','III',9,'Copiapó'
9,4,'Atacama','III',10,'Huasco'
10,5,'Coquimbo','IV',11,'Choapa'
11,5,'Coquimbo','IV',12,'Elqui'
12,5,'Coquimbo','IV',13,'Limarí'
13,6,'Valparaiso','V',14,'Isla de Pascua'
14,6,'Valparaiso','V',15,'Los Andes'
15,6,'Valparaiso','V',16,'Petorca'
16,6,'Valparaiso','V',17,'Quillota'
17,6,'Valparaiso','V',18,'San Antonio'
18,6,'Valparaiso','V',19,'San Felipe de Aconcagua'
19,6,'Valparaiso','V',20,'Valparaiso'
20,7,'Metropolitana de Santiago','RM',21,'Chacabuco'
21,7,'Metropolitana de Santiago','RM',22,'Cordillera'
22,7,'Metropolitana de Santiago','RM',23,'Maipo'
23,7,'Metropolitana de Santiago','RM',24,'Melipilla'
24,7,'Metropolitana de Santiago','RM',25,'Santiago'
25,7,'Metropolitana de Santiago','RM',26,'Talagante'
26,8,'Libertador General Bernardo O\'Higgins','VI',27,'Cachapoal'
27,8,'Libertador General Bernardo O\'Higgins','VI',28,'Cardenal Caro'
28,8,'Libertador General Bernardo O\'Higgins','VI',29,'Colchagua'
29,9,'Maule','VII',30,'Cauquenes'

In [15]:
provincias_comunas=pd.merge(provincias, comunas, how='outer')
provincias_comunas.head()

   ProvinciaID ProvinciaNombre  RegionID  ComunaID     ComunaNombre
0            1         'Arica'         1         1          'Arica'
1            1         'Arica'         1         2      'Camarones'
2            2    'Parinacota'         1         3  'General Lagos'
3            2    'Parinacota'         1         4          'Putre'
4            3       'Iquique'         2         5  'Alto Hospicio'

In [16]:
regiones_provincias_comunas=pd.merge(regiones_provincias, comunas, how='outer')
regiones_provincias_comunas.index.name='ID'
regiones_provincias_comunas.head()

,RegionID,RegionNombre,RegionOrdinal,ProvinciaID,ProvinciaNombre,ComunaID,ComunaNombre
ID,,,,,,,
0,1,'Arica y Parinacota','XV',1,'Arica',1,'Arica'
1,1,'Arica y Parinacota','XV',1,'Arica',2,'Camarones'
2,1,'Arica y Parinacota','XV',2,'Parinacota',3,'General Lagos'
3,1,'Arica y Parinacota','XV',2,'Parinacota',4,'Putre'
4,2,'Tarapacá','I',3,'Iquique',5,'Alto Hospicio'

In [17]:
regiones_provincias.dropna()

,RegionID,RegionNombre,RegionOrdinal,ProvinciaID,ProvinciaNombre
0,1,'Arica y Parinacota','XV',1,'Arica'
1,1,'Arica y Parinacota','XV',2,'Parinacota'
2,2,'Tarapacá','I',3,'Iquique'
3,2,'Tarapacá','I',4,'El Tamarugal'
4,3,'Antofagasta','II',5,'Antofagasta'
5,3,'Antofagasta','II',6,'El Loa'
6,3,'Antofagasta','II',7,'Tocopilla'
7,4,'Atacama','III',8,'Chañaral'
8,4,'Atacama','III',9,'Copiapó'
9,4,'Atacama','III',10,'Huasco'
10,5,'Coquimbo','IV',11,'Choapa'
11,5,'Coquimbo','IV',12,'Elqui'
12,5,'Coquimbo','IV',13,'Limarí'
13,6,'Valparaiso','V',14,'Isla de Pascua'
14,6,'Valparaiso','V',15,'Los Andes'
15,6,'Valparaiso','V',16,'Petorca'
16,6,'Valparaiso','V',17,'Quillota'
17,6,'Valparaiso','V',18,'San Antonio'
18,6,'Valparaiso','V',19,'San Felipe de Aconcagua'
19,6,'Valparaiso','V',20,'Valparaiso'
20,7,'Metropolitana de Santiago','RM',21,'Chacabuco'
21,7,'Metropolitana de Santiago','RM',22,'Cordillera'
22,7,'Metropolitana de Santiago','RM',23,'Maipo'
23,7,'Metropolitana de Santiago','RM',24,'Melipilla'
24,7,'Metropolitana de Santiago','RM',25,'Santiago'
25,7,'Metropolitana de Santiago','RM',26,'Talagante'
26,8,'Libertador General Bernardo O\'Higgins','VI',27,'Cachapoal'
27,8,'Libertador General Bernardo O\'Higgins','VI',28,'Cardenal Caro'
28,8,'Libertador General Bernardo O\'Higgins','VI',29,'Colchagua'
29,9,'Maule','VII',30,'Cauquenes'
30,9,'Maule','VII',31,'Curicó'
31,9,'Maule','VII',32,'Linares'
32,9,'Maule','VII',33,'Talca'
33,10,'Biobío','VIII',34,'Arauco'
34,10,'Biobío','VIII',35,'Bio Bío'
35,10,'Biobío','VIII',36,'Concepción'
36,10,'Biobío','VIII',37,'Ñuble'
37,11,'La Araucanía','IX',38,'Cautín'
38,11,'La Araucanía','IX',39,'Malleco'
39,12,'Los Ríos','XIV',40,'Valdivia'
40,12,'Los Ríos','XIV',41,'Ranco'
41,13,'Los Lagos','X',42,'Chiloé'
42,13,'Los Lagos','X',43,'Llanquihue'
43,13,'Los Lagos','X',44,'Osorno'
44,13,'Los Lagos','X',45,'Palena'
45,14,'Aisén del General Carlos Ibáñez del Campo','XI',46,'Aisén'
46,14,'Aisén del General Carlos Ibáñez del Campo','XI',47,'Capitán Prat'
47,14,'Aisén del General Carlos Ibáñez del Campo','XI',48,'Coihaique'
48,14,'Aisén del General Carlos Ibáñez del Campo','XI',49,'General Carrera'
49,15,'Magallanes y de la Antártica Chilena','XII',50,'Antártica Chilena'
50,15,'Magallanes y de la Antártica Chilena','XII',51,'Magallanes'
51,15,'Magallanes y de la Antártica Chilena','XII',52,'Tierra del Fuego'
52,15,'Magallanes y de la Antártica Chilena','XII',53,'Última Esperanza'

In [ ]:
regiones_provincias_comunas[ regiones_provincias_comunas['ComunaNombre']=="'Arica'" ]

In [19]:
regiones_provincias_comunas.head()

,RegionID,RegionNombre,RegionOrdinal,ProvinciaID,ProvinciaNombre,ComunaID,ComunaNombre
ID,,,,,,,
0,1,'Arica y Parinacota','XV',1,'Arica',1,'Arica'
1,1,'Arica y Parinacota','XV',1,'Arica',2,'Camarones'
2,1,'Arica y Parinacota','XV',2,'Parinacota',3,'General Lagos'
3,1,'Arica y Parinacota','XV',2,'Parinacota',4,'Putre'
4,2,'Tarapacá','I',3,'Iquique',5,'Alto Hospicio'

In [21]:
regiones_provincias_comunas.loc[100]

RegionID                                     7
RegionNombre       'Metropolitana de Santiago'
RegionOrdinal                             'RM'
ProvinciaID                                 25
ProvinciaNombre                     'Santiago'
ComunaID                                   101
ComunaNombre                'Estación Central'
Name: 100, dtype: object

In [24]:
regiones_provincias_comunas[ regiones_provincias_comunas['ProvinciaID'] == 2 ] [['RegionID','ProvinciaID']]

    RegionID  ProvinciaID
ID
2          1            2
3          1            2

In [26]:
seleccion = regiones_provincias_comunas.loc[ regiones_provincias_comunas['ProvinciaID'] == 2,  ['RegionID','ProvinciaID'] ]
seleccion

    RegionID  ProvinciaID
ID
2          1            2
3          1            2

In [29]:
seleccion.to_csv('data/chile_demographic_merge.csv', index=True)

In [30]:
!cat data/chile_demographic_merge.csv

ID,RegionID,ProvinciaID
2,1,2
3,1,2

In [ ]:
regiones_provincias_comunas.loc[1,"ComunaNombre"]

## 4. Loading ful dataset

In [31]:
data_file='data/chile_demographic.csv'
data=pd.read_csv(data_file, header=0, sep=',')
data.head()

,RegionID,Region,Provincia,Comuna,Superficie,Poblacion,Densidad,IDH_2005
0,1,Arica y Parinacota,Arica,Arica,4799.4,210936,38.4,0.736
1,1,Arica y Parinacota,Arica,Camarones,3927.0,679,0.3,0.751
2,1,Arica y Parinacota,Parinacota,General Lagos,2244.4,739,0.5,0.670
3,1,Arica y Parinacota,Parinacota,Putre,5902.5,1462,0.2,0.707
4,1,Arica y Parinacota,Iquique,Alto Hospicio,572.9,94455,87.6,NaN

In [ ]:
# Podemos ordenar el dataframe usando el campo Poblacion

data_sort=data.sort_values('Poblacion')
data_sort.head()

In [ ]:
# Podemos ordenarlo de mayor a menor

data_sort=data.sort_values('Poblacion', ascending=False)
data_sort.head()

In [ ]:
(data.groupby(data['Region'])['Poblacion','Superficie'].sum())

In [ ]:
x=data.groupby(data['Region'])
x['Poblacion','Superficie'].sum()

In [ ]:
(data.groupby(data['Region'])['Poblacion','Superficie'].sum()) \
    .sort_values(['Poblacion'])